<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>cancel</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/1be8dd0987.js"
      crossorigin="anonymous"
    ></script>
    
  </head>
  <body>
    <div class="container text-center mt-5">
      <input type="hidden" data-paycomet="no-mask" value="" />
      <div id="paycomet-pan" style="width:433px; height:29px;"></div>
    </div>
    <script src="https://api.paycomet.com/gateway/paycomet.jetiframe.js"></script>
  </body>
</html>


